venv/
__pycache__/
*.pyc
*.egg-info/
.env
db.sqlite3
celerybeat-schedule
celerybeat-schedule.db
dump.rdb
.git/
node_modules/
frontend/
*.md
.pytest_cache/
pyrightconfig.json
compose.yaml
Dockerfile
.dockerignore
.gitignore
*.pem
