venv/
__pycache__/
*.pyc
*.egg-info/
db.sqlite3
.env
celerybeat-schedule
celerybeat-schedule.db
dump.rdb
.pytest_cache/
node_modules/
frontend/dist/
.vscode/
*.log
.DS_Store
pyrightconfig.json
*.pem
.vaultsync*
